{% extends 'header.html' %}
{% load static %}
{% block contant %}

<!DOCTYPE html>

<html lang="en">
  <head>
  </head>
  <body>
   
    
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">signup</h2>
                        
                    </div>
                    <form enctype="multipart/form-data" action="{% url 'change_password' %}" class="checkout" method="post" name="checkout">
                                {% csrf_token %}
                    <div class="single-sidebar">
                        
                {% if msg%}
                    <b style='color: red;'>{{msg}}</b>
                {% endif %}        
                        <div class="thubmnail-recent">
                                                <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">old Password <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" value="" placeholder="" id="billing_email" name="opassword" class="input-text ">
                                            </p>
                                           
                                            <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">new Password <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" value="" placeholder="" id="billing_email" name="npassword" class="input-text ">
                                            </p>    
                                             
                                             <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">Confirm Password <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" value="" placeholder="" id="billing_email" name="cpassword" class="input-text ">
                                            </p>

                                            <div class="clear"></div>

                                            </div>
                                        </div>

                                    
                                        </div>
                                    </div>

                                        <div class="form-row place-order">

                                            <input type="submit" data-value="Place order" value="submit" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                </div>
                            </form>

                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>


  </body>
</html>
{% endblock %}