{% extends 'header.html' %}
{% load static %}
{% block contant %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
   <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">otp</h2>
                        
                    </div>
                    <form enctype="multipart/form-data" action="{% url 'veify_otp' %}" class="checkout" method="post" name="checkout">
                                {% csrf_token %}
                    <div class="single-sidebar">
                        
                {% if msg%}
                    <b style='color: red;'>{{msg}}</b>
                {% endif %}        
                        <div class="thubmnail-recent">
                    
                    <input type="hidden" name="otp" value="{{otp}}">
                    <input type="hidden" name="email" value="{{email}}">
                                                <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">otp<abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" id="billing_email" name="uotp" class="input-text ">
                                            </p>    
                                            <div class="clear"></div>

                                            </div>
                                        </div>

                                    
                                        </div>
                                    </div>

                                        <div class="form-row place-order">

                                            <input type="submit" data-value="Place order" value="submit" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </form>
                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>


  </body>
</html>
{% endblock %}