{% extends 'header.html' %}
{% load static %}
{% block contant %}

<!DOCTYPE html>

<html lang="en">
  <head>
  </head>
  <body>
   
    
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">profile</h2>
                        
                    </div>
                    <form enctype="multipart/form-data" action="{% url 'profile' %}" class="checkout" method="post" name="checkout">
                                {% csrf_token %}
                    <div class="single-sidebar">
                        
                {% if msg%}
                    <b style='color: red;'>{{msg}}</b>
                {% endif %}        
                        <div class="thubmnail-recent">
                                            <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                <label class="" for="billing_last_name">first Name <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{user.fname}}" placeholder="" id="billing_last_name" name="fname" class="input-text ">
                                            </p>
                                            <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                <label class="" for="billing_last_name">Last Name <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{user.lname}}" placeholder="" id="billing_last_name" name="lname" class="input-text ">
                                            </p>
                                            <div class="clear"></div>


                                            <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                <label class="" for="billing_address_1">Address <abbr title="required" class="required">*</abbr>
                                                </label>
                                           
                                            </p>                            

                                            <p id="billing_address_2_field" class="form-row form-row-wide address-field">
                                              <textarea rows="2", cols="45" name="address"> {{user.address}}</textarea>
                                            </p>



                                            <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">Email<abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{user.email}}" placeholder="" id="billing_email" name="email" class="input-text ">
                                            </p> 
                                            <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">mobile<abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{user.moblie}}" placeholder="" id="billing_email" name="moblie" class="input-text ">
                                                </p> 
                                                <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">current image<abbr title="required" class="required">*</abbr>
                                                </label>
                                                <img src="{{user.profile_pic.url}}" width="100px" height="100px">
                                            </p> 
                                            </p> 
                                                <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">profile image<abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="file" value="{{user.profile_pic.url}}"  id="billing_last_name" name="profile_pic" >
                                            </p> 
                                            <div class="clear"></div>

                                            </div>
                                        </div>

                                        </div>
                                    </div>

                                        <div class="form-row place-order">

                                            <input type="submit" data-value="Place order" value="submit" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                </div>
                            </form>

                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>


  </body>
</html>
{% endblock %}