{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
  <head>
  </head>
  <body>
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: -30px;margin-bottom: -30px;">
                    <div class="product-bit-title text-center">
                        <h2>Change Password</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            {% if msg %}
                                <b style="color: red;">{{msg}}</b>
                            {% endif %}
                            <form action="{% url 'change_password' %}" class="checkout" method="post" name="checkout">
                                {% csrf_token %}
                                <div id="customer_details" class="col2-set">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>Change Password</h3>

                                            <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">Old Password <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" placeholder="Old Password" id="billing_phone" name="old_password" class="input-text ">
                                            </p>
                                            <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">New Password <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" placeholder="New Password" id="billing_phone" name="new_password" class="input-text ">
                                            </p>
                                            <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">Confirm New Password <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="password" placeholder="Confirm New Password" id="billing_phone" name="cnew_password" class="input-text ">
                                            </p>
                                                <p>
                                                <input type="submit" name="action" value="Change Password" class="input-submit">
                                            </p>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
{% endblock %}