{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
   
    
    
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            {% for i in products %}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{{i.product_image.url}}" alt="" style="width:300px;height: 250px;">
                                    <div class="product-hover">
                                        <!-- <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a> -->
                                        <a href="{% url 'seller_product_detail' pk=i.pk %}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>
                                
                                <h2><a href="single-product.html">{{i.product_company}} {{i.product_model}}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>{{i.product_price}}</ins>
                                </div> 
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    
    
    
    
  </body>
</html>
{% endblock %}